<template>
  <div class="back-layer">
    <svg xmlns="http://www.w3.org/2000/svg" class="fixed h-full w-full -z-30" viewBox="0 0 699.6 699.6"
      preserveAspectRatio="none" style="width: 100%; height: 100%;">
      <rect class="bg" id="bg" x="0" y="0" width="699.6" height="699.6" fill="#C99BFF" />
      <defs>
        <filter id="f1" x="-200%" y="-200%" width="500%" height="500%">
          <feGaussianBlur stdDeviation="138" />
        </filter>
      </defs>
      <circle cx="155" cy="563" r="349.8" fill="#C99BFF" filter="url(#f1)" />
      <circle cx="230" cy="99" r="349.8" fill="#1EAE98" filter="url(#f1)" />
    </svg>
  </div>

  <div class="top-layer fixed -z-10 w-full h-full blur" />


  <NuxtLayout :name="layout">
    <BlocksHeaderBlock />
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup>

const layout = ref("default")

</script>

<style lang="css">
.blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}
</style>