<template>
  <div class="relative h-[3000px] container mx-auto ">

    <div class="middle-layer absolute -z-20 w-full h-full">
      <!-- Put things that should be blurred out here -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="100%" id="blobSvg"
        :style="`transform:translate3d(100px, ${1000 - (y)}px, 0) rotateY(0deg) rotateZ(${y / 100}deg) skew(0deg, 0deg); transform-style: preserve-3d;`">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color: rgb(238, 205, 163);"></stop>
            <stop offset="100%" style="stop-color: rgb(239, 98, 159);"></stop>
          </linearGradient>
        </defs>
        <path id="blob" fill="url(#gradient)">
          <animate attributeName="d" dur="10000ms" repeatCount="indefinite"
            values="M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;M453.78747,319.98894Q416.97789,389.97789,353.96683,436.87838Q290.95577,483.77887,223.95577,447.43366Q156.95577,411.08845,105.64373,365.97789Q54.33169,320.86732,62.67444,252.61056Q71.01719,184.3538,113.01965,135.21007Q155.02211,86.06634,220.52211,66.46683Q286.02211,46.86732,335.5,91.94472Q384.97789,137.02211,437.78747,193.51106Q490.59704,250,453.78747,319.98894Z;M411.39826,313.90633Q402.59677,377.81265,342.92059,407.63957Q283.24442,437.46649,215.13648,432.5428Q147.02853,427.61911,82.23325,380.9572Q17.43796,334.29529,20.45223,250.83809Q23.46649,167.38089,82.5856,115.05707Q141.70471,62.73325,212.19045,63.73015Q282.67618,64.72705,352.67308,84.79839Q422.66998,104.86972,421.43486,177.43486Q420.19974,250,411.39826,313.90633Z;M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;">
          </animate>
        </path>
      </svg>

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="100%" id="blobSvg"
        :style="`transform:translate3d(100px, ${100 - (y)}px, 0) rotateY(0deg) rotateZ(${y / 10}deg) skew(0deg, 0deg); transform-style: preserve-3d;`">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color: rgb(238, 205, 163);"></stop>
            <stop offset="100%" style="stop-color: rgb(239, 98, 159);"></stop>
          </linearGradient>
        </defs>
        <path id="blob" fill="url(#gradient)">
          <animate attributeName="d" dur="10000ms" repeatCount="indefinite"
            values="M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;M453.78747,319.98894Q416.97789,389.97789,353.96683,436.87838Q290.95577,483.77887,223.95577,447.43366Q156.95577,411.08845,105.64373,365.97789Q54.33169,320.86732,62.67444,252.61056Q71.01719,184.3538,113.01965,135.21007Q155.02211,86.06634,220.52211,66.46683Q286.02211,46.86732,335.5,91.94472Q384.97789,137.02211,437.78747,193.51106Q490.59704,250,453.78747,319.98894Z;M411.39826,313.90633Q402.59677,377.81265,342.92059,407.63957Q283.24442,437.46649,215.13648,432.5428Q147.02853,427.61911,82.23325,380.9572Q17.43796,334.29529,20.45223,250.83809Q23.46649,167.38089,82.5856,115.05707Q141.70471,62.73325,212.19045,63.73015Q282.67618,64.72705,352.67308,84.79839Q422.66998,104.86972,421.43486,177.43486Q420.19974,250,411.39826,313.90633Z;M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;">
          </animate>
        </path>
      </svg>
    </div>




    <h1 class=" md:text-[200px] text-xl text-center text-white py-20">Welcome to the homepage!</h1>
    <div class="fixed bottom-0 right-0 px-4">Window Scroll:{{ (y / 500) }}</div>
    <div class="flex w-full  absolute top-2/4">
      <div data-aos="fade-up" data-aos-delay="500">
        <img src="@/assets/squiggle.png">
      </div>

      <div data-aos="fade-up">
        <img src="@/assets/orb.png">
      </div>
    </div>


    <!-- <div class="flex">
      <div class="item" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
        1</div>
      <div class="item" data-aos="fade-down" data-aos-delay="100">1</div>
      <div class="item" data-aos="fade-down" data-aos-delay="450">2</div>
      <div class="item" data-aos="fade-down" data-aos-delay="100">3</div>
      <div class="item" data-aos="fade-down" data-aos-delay="200">4</div>
    </div>
    <div class="flex">
      <div class="item" data-aos="zoom-in">5</div>
      <div class="item" data-aos="zoom-out">6</div>

      <div class="item" data-aos="slide-up">7</div>

      <div class="item" data-aos="flip-up">8</div>
      <div class="item" data-aos="flip-down">9</div>
      <div class="item" data-aos="flip-right">10</div>
      <div class="item" data-aos="flip-left">11</div>
    </div> -->


    <img src="@/assets/squiggle.png" class="squiggle-footer will-change-transform"
      :style="`opacity: ${increaseOpacity(y)}%; transform:translate3d(${(y / 10) * 2}px, ${1000 - (y / 10) * 2}px, 0) rotateY(0deg) rotateZ(${y / 10}deg) skew(0deg, 0deg); transform-style: preserve-3d;`">

    <img src="@/assets/orb.png" class="squiggle-footer will-change-transform"
      :style="`transform:translate3d(${(900 + (y / 10) * 2)}px, ${(240 - (y / 10) * 2)}px, 0) rotateY(0deg) rotateZ(${y / 100}deg) skew(0deg, 0deg); transform-style: preserve-3d;`">


  </div>
</template>


<script setup>
import { useWindowScroll } from '@vueuse/core'

const route = useRoute()
const { x, y } = useWindowScroll()

const increaseOpacity = (scrollY) => {
  // always 2 extra zeros 
  if ((scrollY / 2000) < 1) {
    return scrollY / 20
  }
  return 100
}


</script>


<style lang="css">
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
</style>