<template>
  <header>
    <nav>
      <ul class="w-full flex justify-end">
        <li class="mx-2 p-2">
          <NuxtLink to="/">Home</NuxtLink>
        </li>
        <li class="mx-2 p-2">
          <NuxtLink to="/about">About</NuxtLink>
        </li>
      </ul>
    </nav>
  </header>
</template>
